@import "variables";
/*--*/
app-error {
  display: block;
  height: 100%;
  width: 50%;
  margin: 0% auto;

  p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
  }

  h2 {
    color: white;
    text-align: center;
    font-size: 2.2rem;
  }
}
