@import "variables";

/*--*/
.spinner {
    margin-left:20px;
    margin-top:20px;
    float:right;
    width: 50px; 
    height: 50px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#PrintTicket {
    display: block;
    padding: 10vh 0 0 0;

    .PrintTicketBg {
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 50vh 50vh;
        padding: 1vw 1vw 0vw 1vw;
        float: left;
        position: fixed;
        margin: 1vw 0vw;
        height: 61vh;
        width: 47vw;
        overflow-y: auto;
        overflow-x: hidden;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='471' height='463'%3E%3Cpath fill-rule='evenodd' fill='%23FFF' d='M447 61v379l-23-24-47 47-47-47-47 47-48-47-47 47-47-47-47 47-47-47-23 24V61C10 58 0 46 0 31 0 14 14 0 31 0h409c17 0 31 14 31 31 0 15-10 27-24 30zM39 62v340l8-8 47 47 47-47 47 47 47-47 48 47 47-47 47 47 47-47 8 8V39H39v23zm401-46H31c-8 0-15 7-15 15 0 6 3 11 8 14V23h423v22a16 16 0 0 0-7-29zm-32 78c-4 0-8-4-8-8 0-5 4-8 8-8 5 0 8 3 8 8 0 4-3 8-8 8zm-23 233l-6-2-2-5 2-6c3-3 8-3 11 0 2 1 2 3 2 6 0 2 0 4-2 5l-5 2zm0-54h-79c-4 0-8-4-8-8s4-8 8-8h79c4 0 7 4 7 8s-3 8-7 8zm0-55H267c-4 0-8-3-8-8 0-4 4-7 8-7h118c4 0 7 3 7 7 0 5-3 8-7 8zm0-54l-6-3-2-5 2-6c3-3 8-3 11 0 2 2 2 4 2 6s0 4-2 5c-1 2-3 3-5 3zm-8-70c-5 0-8-4-8-8 0-5 3-8 8-8 4 0 8 3 8 8 0 4-4 8-8 8zm-32 70H228c-5 0-8-4-8-8s3-8 8-8h117c5 0 8 4 8 8s-3 8-8 8zm0-70c-4 0-7-4-7-8 0-5 3-8 7-8 5 0 8 3 8 8 0 4-3 8-8 8zm-31 0c-4 0-8-4-8-8 0-5 4-8 8-8s8 3 8 8c0 4-4 8-8 8zm-31 0c-5 0-8-4-8-8 0-5 3-8 8-8 4 0 7 3 7 8 0 4-3 8-7 8zm-32 0c-4 0-8-4-8-8 0-5 4-8 8-8 5 0 8 3 8 8 0 4-3 8-8 8zm-31 0c-5 0-8-4-8-8 0-5 3-8 8-8 4 0 8 3 8 8 0 4-4 8-8 8zm-32 0c-4 0-7-4-7-8 0-5 3-8 7-8 5 0 8 3 8 8 0 4-3 8-8 8zm-31 116c-4 0-8-3-8-7 0-11-6-19-16-22v42l18 14c6 4 10 11 11 19 1 7-2 15-6 20-6 7-14 12-23 13v7c0 4-3 8-7 8-5 0-8-4-8-8v-7c-18-3-32-19-32-38 0-4 4-8 8-8 5 0 8 4 8 8 0 10 7 19 16 22v-42l-18-14c-6-5-10-12-11-19 0-8 2-15 7-21s13-11 22-13v-8c0-4 3-8 8-8 4 0 7 4 7 8v8c18 4 32 20 32 39 0 4-4 7-8 7zm-24 63c4-1 8-4 11-7 2-2 3-5 2-8 0-4-2-7-5-9l-8-6v30zm-15-92c-4 1-8 3-10 7-2 2-3 5-3 8 0 4 2 7 5 9l8 6v-30zm39-87c-4 0-8-4-8-8 0-5 4-8 8-8s8 3 8 8c0 4-4 8-8 8zm-31 0c-5 0-8-4-8-8 0-5 3-8 8-8 4 0 7 3 7 8 0 4-3 8-7 8zm-32 0c-4 0-8-4-8-8 0-5 4-8 8-8 5 0 8 3 8 8 0 4-3 8-8 8zm-31 0c-5 0-8-4-8-8 0-5 3-8 8-8 4 0 8 3 8 8 0 4-4 8-8 8zm167 122l-2-6 2-5c3-3 8-3 11 0l2 5-2 6-6 2-5-2zm-2 41h15c5 0 8 4 8 8s-3 8-8 8h-15c-5 0-8-4-8-8s3-8 8-8zm41 13l-2-5 2-6c3-2 8-2 11 0a8 8 0 0 1 0 11c-1 2-3 3-5 3l-6-3zm-41 42h117c5 0 8 3 8 8 0 4-3 7-8 7H228c-5 0-8-3-8-7 0-5 3-8 8-8z'/%3E%3C/svg%3E");
    }

    .InsertCardBg {
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 50vh 50vh;
        padding: 1vw 1vw 0vw 1vw;
        float: left;
        position: fixed;
        margin: 1vw 0vw;
        height: 61vh;
        width: 47vw;
        overflow-y: auto;
        overflow-x: hidden;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='481' height='480'%3E%3Cpath fill-rule='evenodd' fill='%23FFF' d='M465 480V301c0-6-3-12-7-17l-49-49v45c0 4-1 8-3 11l16 15-11 12-99-93c-4-4-9-5-14-5-5 1-9 3-12 7-6 7-6 17 1 24l40 39 16 16c2 3 3 7 1 10-4 7-11 23-7 43 4 25 23 39 28 42l-9 14c-6-5-29-22-35-54-4-20 1-37 6-47l-9-10h-93c-13 0-24-11-24-24V112a56 56 0 0 1 0-112h208a56 56 0 0 1 0 112v101l60 60c8 8 12 18 12 28v179h-16zM217 104v176c0 4 3 8 8 8h77l-26-26a34 34 0 0 1 21-58c9-1 19 3 26 9l70 66V64H217v40zm232-48c0-22-18-40-40-40H201a40 40 0 0 0 0 80V56c0-4 3-8 8-8h192c4 0 8 4 8 8v40c22 0 40-18 40-40zM345 160h-16c-13 0-24-11-24-24v-32c0-13 11-24 24-24h16c13 0 24 11 24 24v32c0 13-11 24-24 24zm8-56c0-4-4-8-8-8h-16c-5 0-8 4-8 8v32c0 4 3 8 8 8h16c4 0 8-4 8-8v-32zM241 224h16v48h-16v-48zm0-72h16v40h-16v-40zm0-72h16v40h-16V80zm-104 64h-24v88c0 4-4 8-8 8H41c-5 0-8-4-8-8v-88H9a8 8 0 0 1-7-13l64-80c3-4 10-4 13 0l64 80a8 8 0 0 1-6 13zM73 69l-48 59h16c4 0 8 4 8 8v88h48v-88c0-4 3-8 8-8h15L73 69zM41 256h64c4 0 8 4 8 8v32c0 4-4 8-8 8H41c-5 0-8-4-8-8v-32c0-4 3-8 8-8zm8 32h48v-16H49v16zm-8 32h64c4 0 8 4 8 8v32c0 4-4 8-8 8H41c-5 0-8-4-8-8v-32c0-4 3-8 8-8zm8 32h48v-16H49v16zm-8 32h64c4 0 8 4 8 8v32c0 4-4 8-8 8H41c-5 0-8-4-8-8v-32c0-4 3-8 8-8zm8 32h48v-16H49v16zm263 4c7 11 17 22 29 29l-8 14a113 113 0 0 1-52-86l16-2c1 11 4 28 15 45z'/%3E%3C/svg%3E");
    }

    .PageTitle {
        text-align: center;
        font-size: 2.5vw;
        margin: -30px 0 0 0;
    }
      
    .PrintTicketContent {
        display: flex;

        >.col {
            padding: 1vw 1vw 0vw 1vw;
            float: left;
            position: fixed;
            margin: 1vw 0vw;
            height: 61vh;
            width: 47vw;
            overflow-y: auto;
            overflow-x: hidden;

            &.right {
                left: 66vw;
                width: 32vw;
                color: $ColorDark;
                background-color: $ColorLight;
            }

            &:after {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='738' height='83'%3E%3Cpath fill-rule='evenodd' fill='%23EEF1F3' d='M717 82h-5l-17-11c-2-1-4-2-5-1l-14 12h-4l-18-11c-1-1-3-2-4-1l-14 12h-4l-18-11c-1-1-2-2-4-1l-14 12h-4l-18-11c-1-1-3-2-5-1l-13 12h-5l-17-11c-1-1-3-2-5-1l-13 12h-5l-17-11-2-2-14 13h-5l-17-11c-2-1-4-2-5-1l-14 12h-4l-18-11c-1-1-3-2-4-1l-14 12h-4l-18-11c-1-1-2-2-4-1l-14 12h-4l-18-11c-1-1-3-2-5-1l-13 12h-5l-17-11c-1-1-3-2-5-1l-13 12h-5l-17-11-2-2-14 13h-5l-17-11c-2-1-4-2-5-1l-14 12h-4l-18-11c-1-1-3-2-4-1l-14 12h-4l-18-11c-1-1-2-2-4-1l-14 12h-4L96 71c-1-1-3-2-5-1L78 82h-5L56 71c-1-1-3-2-5-1L38 82h-5L16 71c-1-1-3-2-5-1L0 80V0h738v63l-21 19z'/%3E%3C/svg%3E");
                display: block;
                background-repeat: repeat-x !important;
                background-position: left bottom;
                height: 18px;
                bottom: -20px;
                position: fixed;
                top: 82.7vh;
                left: 66vw;
                width: 32vw;
            }

            ul.TicketFunction {
                margin: 0;
                padding: 0;

                li {
                    margin: 0 0 2vh 0;
                    padding: 0;
                    display: flex;

                    .Promo {
                        display: flex;
                        flex-wrap: wrap;
                        background-color: $ColorGray;
                        min-height: 13vh;
                        height: auto;
                        vertical-align: middle;
                        width: 25vw;
                        font-size: 3vh;
                        align-items: center;
                        padding: 2.9vh;

                        .Title {
                            display: block;
                            width: 100%;
                        }

                        .Price {
                            display: block;
                            @include FontFamBold;
                            width: 100%;
                        }
                    }

                    .PromoQuantity {
                        display: none;
                        width: 19vw;
                        margin-left: 1vw;
                        height: 13vh;
                        vertical-align: middle;
                        font-size: 2vh;
                        padding: 0 2vw;
                        text-align: center;

                        .Title {
                            display: block;
                            padding: 1vh 0;
                            line-height: 1;
                        }

                        .Quantity {
                            display: inline-table;
                            line-height: 6vh;
                            text-align: center;

                            .Less {
                                display: inline-block;
                                cursor: pointer;
                                width: 3vw;
                                height: 7vh;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34'%3E%3Cpath fill-rule='evenodd' fill='%23EBC835' d='M17 34a17 17 0 0 1 0-34 17 17 0 0 1 0 34zm0-32a15 15 0 0 0 0 30 15 15 0 0 0 0-30zm8 16H10l-1-1 1-1h15l1 1-1 1z'/%3E%3C/svg%3E");
                            }

                            .More {
                                display: inline-block;
                                cursor: pointer;
                                width: 3vw;
                                height: 7vh;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34'%3E%3Cpath fill-rule='evenodd' fill='%23EBC835' d='M17 34a17 17 0 0 1 0-34 17 17 0 0 1 0 34zm0-32a15 15 0 0 0 0 30 15 15 0 0 0 0-30zm8 16h-7v7l-1 1-1-1v-7h-6l-2-1 2-1h6V9l1-1 1 1v7h7l1 1-1 1z'/%3E%3C/svg%3E");
                            }

                            .QuantityNum {
                                display: inline-block;
                                font-size: 4vh;
                                width: 6vw;
                                height: 7vh;
                                line-height: 7vh;
                                vertical-align: top;
                            }
                        }
                    }

                    &.active {
                        .Promo {
                            display: block;
                            background-color: $Color1;
                        }

                        .PromoQuantity {
                            display: inline-block;
                            background-color: $Color1;
                        }
                    }
                }
            }

            .TicketTotals {
                position: relative;
                padding: 0;
                line-height: 4vh;
                vertical-align: top;
            }
        }
    }
}