@import "variables";

div#ticket-withdraw-qr {
  display: block;
  width: 50vw;
  margin: 2vw auto;
  .ticket-withdraw-qr-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50vh 50vh;
    padding: 1vw 1vw 0vw 1vw;
    position: fixed;
    margin: 0vw 0vw;
    height: 55vh;
    width: 50vw;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='122.60999999999999' height='122.88' data-name='Layer 1'%3E%3Ctitle%3Eqr-code-scan%3C/title%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill='%23ffffff' id='svg_1' fill-rule='evenodd' d='m26.68,26.77l25.23,0l0,25.12l-25.23,0l0,-25.12zm8.99,-26.77l-12.6,0a22.72,22.72 0 0 0 -8.77,1.75a23.13,23.13 0 0 0 -7.49,5l0,0a23.16,23.16 0 0 0 -5,7.49a22.77,22.77 0 0 0 -1.81,8.83l0,15.57l10.23,0l0,-15.57a12.9,12.9 0 0 1 1,-4.9a12.71,12.71 0 0 1 2.77,-4.17l0,0a12.83,12.83 0 0 1 9.07,-3.75l12.6,0l0,-10.25zm63.87,0l-8.23,0l0,10.23l8.23,0a12.94,12.94 0 0 1 4.9,1a13.16,13.16 0 0 1 4.17,2.77l0.35,0.36l0,0a13.07,13.07 0 0 1 2.45,3.82a12.67,12.67 0 0 1 1,4.89l0,15.57l10.23,0l0,-15.57a22.95,22.95 0 0 0 -6.42,-15.93l0,0l-0.37,-0.37a23.16,23.16 0 0 0 -7.49,-5a22.77,22.77 0 0 0 -8.82,-1.77zm23.07,99.81l0,-17.29l-10.23,0l0,17.29a12.67,12.67 0 0 1 -1,4.89a13.08,13.08 0 0 1 -2.8,4.17a12.8,12.8 0 0 1 -9.06,3.78l-8.21,0l0,10.23l8.23,0a23,23 0 0 0 16.29,-6.78a23.34,23.34 0 0 0 5,-7.49a23,23 0 0 0 1.75,-8.8l0.03,0zm-99.54,23.07l12.6,0l0,-10.23l-12.6,0a12.8,12.8 0 0 1 -9.07,-3.78l-0.26,-0.24a12.83,12.83 0 0 1 -2.61,-4.08a12.7,12.7 0 0 1 -0.91,-4.74l0,-17.29l-10.22,0l0,17.29a22.64,22.64 0 0 0 1.67,8.57a22.86,22.86 0 0 0 4.79,7.38l0.31,0.35a23.2,23.2 0 0 0 7.5,5a22.84,22.84 0 0 0 8.8,1.75l0,0.02zm35.06,-64.75l0,-18.8l6.43,0l0,18.79l-6.43,0.01zm-18.88,-0.01l6.43,0l0,6.33l-6.43,0l0,-6.33zm-12.57,0l6.43,0l0,6.33l-6.43,0l0,-6.33zm31.46,-31.35l6.43,0l0,6.33l-6.43,0l0,-6.33zm-31.56,44.11l25.22,0l0,25.12l-25.22,0l0,-25.12zm6.13,6.12l13,0l0,12.91l-13,0l0,-12.91zm38,-50.22l25.21,0l0,25.11l-25.22,0l0,-25.12l0.01,0.01zm6.13,6.1l13,0l0,12.91l-13,0l0,-12.92l0,0.01zm-44,0l13,0l0,12.91l-13,0l0,-12.92l0,0.01z' class='cls-1'/%3E%3Cg stroke='null'%3E%3Cg stroke='null'%3E%3Cpath fill='%23ffffff' stroke='null' d='m76.67496,59.60672l0.00632,0l0,0.00277c5.45256,0.00158 10.38985,2.21319 13.96272,5.78685c3.56694,3.56852 5.77657,8.50147 5.78013,13.94968l0.00277,0l0,0.01304l0,0.01581l-0.00277,0c-0.00198,2.1958 -0.36234,4.30902 -1.025,6.27959c-0.11103,0.33073 -0.22721,0.64843 -0.34654,0.9519l0,0.00277c-0.57137,1.44622 -1.30989,2.81341 -2.19185,4.07272l11.49151,10.32861l0.00711,0.00632l0.06204,0.05769l0.00435,0.00435c0.64882,0.61761 1.00208,1.44464 1.04673,2.28392c0.04347,0.8298 -0.21456,1.67856 -0.78199,2.35939l-0.00435,0.00632l-0.06915,0.08021l-0.01383,0.01383l-0.05769,0.06322l-0.00632,0.0083c-0.6184,0.64882 -1.44385,1.00129 -2.28392,1.04554c-0.82861,0.04386 -1.67817,-0.21338 -2.35939,-0.78159l-0.00593,-0.00435l-0.08061,-0.06915l-0.01146,-0.00948l-11.75349,-10.56372c-0.34772,0.24499 -0.70256,0.47773 -1.06175,0.69742c-0.48721,0.29833 -0.99181,0.57928 -1.50667,0.83572c-2.64705,1.32056 -5.63828,2.06343 -8.80059,2.06343l0,0.00277l-0.00632,0l0,-0.00277c-5.45256,-0.00158 -10.39064,-2.21319 -13.96351,-5.78685c-3.56813,-3.56852 -5.77657,-8.50226 -5.78013,-13.94889l-0.00277,0l0,-0.01304l0,-0.00632l0.00277,0c0.00158,-5.45256 2.21319,-10.39064 5.78685,-13.96351c3.56852,-3.56655 8.50147,-5.77618 13.94968,-5.77974l0,-0.00277l0.01304,0l0,0zm0.00632,4.42954l0,0.00277l-0.00632,0l-0.01304,0l0,-0.00277c-4.22248,0.00277 -8.04982,1.71887 -10.82056,4.48841c-2.77034,2.76955 -4.48802,6.60084 -4.4892,10.82846l0.00277,0l0,0.00632l0,0.01304l-0.00277,0c0.00277,4.22248 1.71768,8.04785 4.48841,10.81937c2.76955,2.77073 6.60084,4.48841 10.82806,4.4892l0,-0.00277l0.00632,0l0.01304,0l0,0.00277c4.22248,-0.00277 8.04824,-1.71808 10.81977,-4.48841c2.77034,-2.76955 4.48802,-6.59965 4.48881,-10.82688l-0.00237,0l0,-0.00632l0,-0.01304l0.00237,0c-0.00237,-4.22248 -1.71887,-8.04982 -4.48802,-10.82056c-2.76955,-2.77073 -6.59965,-4.48841 -10.82727,-4.4896l0,0z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }.PageTitle {
    text-align: center;
    font-size: 2.5vw;
    margin: -30px 0 0 0;
  }.DetectionMessage {
    color: #EEF1F3;
    font-size: 3vw;
    text-transform: none !important;
    margin-top: 15vw;
}
}

.form-control {
  label {
    color: $ColorLight;
  }

  input {
    padding: $InputPadding;
  }
}

/*# sourceMappingURL=_retira.css.map */
