<app-header>
  <app-nav-bar activePage="impresion"></app-nav-bar>
  <div class="spinner"></div>
</app-header>

<app-body>
  <div id="PrintTicket">
    <div class="row PrintTicketContent animated fadeIn">
      <div class="PrintTicketBg animated slideInDown">
        <h1 class="PageTitle animated fadeIn">Retire sus tickets</h1>
      </div>
    </div>
    <div class="footerAction animated slideInUp">
      <div class="row">
        <div class="col left">
        </div>
      </div>
    </div>
  </div>
</app-body>


<app-custom-error #errorPopup></app-custom-error>