<div class="OverSplash" id="ShowModalinfo" onclick="_showModals('#terms-screen')"></div>

<div class="modal-wrapper" id="terms-screen">
  <div class="modal">
    <div class="modal-content">
      <p class="uppercase"> Al realizar su compra mediante estos cajeros de autoservicio, usted acepta los Términos
        y Condiciones de Uso.<br />
        Para leer los Términos y Condiciones por favor diríjase a nuestro portal web<br />
        <span class="color2">www.multicine.com.bo/ATMs</span>
      </p>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default" onclick="_hideModals('#terms-screen')">Cancelar</a>
      <a class="btn btn-primary" routerLink="/seleccion" href="/seleccion">Aceptar</a>
    </div>
  </div>
</div>
